//Grid Framework
//Media Queries


//whole page wrapper
/*
#page {
  padding-left: 1.8rem;
  padding-right: 1.8rem;

}
*/



//Row & Column Declarations

.row {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto; }

  .row::before, .row::after {
    content: ' ';
    display: table; }

  .row::after {
    clear: both; }


.column, .columns {
  width: 100%;
  float: left;
  padding-left: 1.65em; //mobile
  padding-right: 1.65em; }

  @media screen and (min-width: 40em) { //tablets, desktops
    .column, .columns {
      padding-left: 2em;
      padding-right: 2rem; } }

//Layout Tweaking

    .flex {
      display: flex;
      justify-content: center;
    }

    .spacer {
      margin-bottom: 1.5em;
    }

/*
  .column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: right; }

  .column.end:last-child:last-child, .end.columns:last-child:last-child {
    float: left; }
*/

//bits used to represent column widths, 12-col grid

/*
.bit-1 {
  width: 8.333%; }
*/

//partners
.bit-2 {
    width: 16.66667%; }


//used by btn
.bit-3 {
    width: 25%;
    float: left;
}


//Active Grid Sections

.bit-1-2-2 {
  width: 100%; //mobile
  float: left;

  @media screen and (min-width: 40em) {
    width: 50%;
  }
}


.bit-1-3-3 { //titled based on responsive reflow (mobile-tablet-desktop)
    width: 100%; //mobile, single row
    float: left;

    @media screen and (min-width: 40em) { //tablet, desktop, 3 per row
      width: 33.33333%;
    }

}

.bit-2-4-6 {
  width: 50%;
  float: left;

  @media screen and (min-width: 40em) {
    width: 25%;
  }
  @media screen and (min-width: 55em) {
    width: 16.66667%;
  }
}

.bit-2-3-3 {
  width: 50%;
  float: left;

  @media screen and (min-width: 40em) {
    width: 33.33333%;
  }
}

.bit-1-2L-2L {
  width: 100%; //mobile screen
  float: left;

  @media screen and (min-width: 40em) {
    width: 41.66667%;
  }
}

.bit-1-2R-2R {
  width: 100%; //mobile screen
  float: left;

  @media screen and (min-width: 40em) {
    width: 58.33333%;
    padding-left: 25px;
  }
}

.bit-8-6 { //referring to 12-col grid
  width: 66.66667%; //mobile
  float: left;

  @media screen and (min-width: 40em) {
    width: 50%;
  }
}

//outstanding grid items ..

.bit-6 {
  width: 50%;
  float: left;
}

.bit-5 {
    width: 41.66667%;
}

//Font size changes

@media screen and (min-width: 40em) { /* 480px and above */
  body {
    font-size: 90%;
  }
}

@media screen and (min-width: 64em) { /* 880 px and above */
  body {
    font-size: 95%;
  }
}

@media screen and (min-width: 75em) { /* 1200px and above */
  body {
    font-size: 100%;
  }
}
