//Grid Framework
//Media Queries


//whole page wrapper
#page {
  padding-left: 1.8rem;
  padding-right: 1.8rem;

}



//Row & Column Declarations

.row {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto; }

  .row::before, .row::after {
    content: ' ';
    display: table; }

  .row::after {
    clear: both; }


.column, .columns {
  width: 100%;
  float: left;
  padding-left: 0.6rem; //TODO target / context = result
  padding-right: 0.6rem; }

  @media screen and (min-width: 40em) { //tablets, desktops
    .column, .columns {
      padding-left: 0.9rem; //increase padding
      padding-right: 0.9rem; } }

  .column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: right; }

  .column.end:last-child:last-child, .end.columns:last-child:last-child {
    float: left; }


//bits used to represent column widths, 12-col grid


.bit-1 {
  width: 8.333%; }

.bit-2 {
    width: 16.66667%; }

.bit-3 {
    width: 25%;
    float: left;
}


//Active Grid Sections

.bit-1-3-3 { //titled based on responsive reflow (mobile-tablet-desktop)
    width: 100%; //mobile, single row
    float: left;

    @media screen and (min-width: 40em) { //tablet, desktop, 3 per row
      width: 33.33333%;
      float: left;
    }

}



.bit-6 {
  width: 50%;
  float: left;
}



.bit-5 {
    width: 41.66667%;
}



.bit-7 {
  width: 58.33333%;
}

.bit-8 {
  width: 66.66667%;
}

.bit-9 {
  width: 75%;
}

.bit-10 {
   width: 83.33333%;
}

.bit-11 {
  width: 91.66667%;
}
//.bit-12 is redundant, since column has width: 100% value.
