//Global variables sheet

//Colors in use:
$black: rgba(0,0,0,1);
$bkgd-dark: rgba(35,35,35,1);
$bkgd-medium: rgba(65,65,65,1);
$neon-pink: rgba(255,0,255,1);
$neon-cyan: rgba(0,255,255,1);
$fore-light: rgba(250,250,250,1);

//font stacks
$body-font: 'Native-Regular', Arial, Helvetica, sans-serif;
$display-font: 'Native-Regular', Arial, Helvetica, cursive;
//Native-Regular, Arial, Helvetica, sans-serif;

//aspect ratio mixin https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
//Apply mixin to parent class.
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


@mixin shadow {
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.6);
  -moz-box-shadow:    2px 2px 5px -1px rgba(0,0,0,0.6);
  box-shadow:         2px 2px 5px -1px rgba(0,0,0,0.6);
}
