// Hybrid template
// utilize lemonade / normalizr
// sep-21-2016

//Downloaded normalize.css file
@import 'normalize';

//grid framework
@import 'grid';

//all variables: color, type, etc.
@import 'var';



/* ========================================
Global Styles
========================================
*/
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }




  body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: $bkgd-dark;
    color: $fore-light;
    font-family: $body-font;
    font-size: 100%;
  }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle; }

h1 {
    font-family: $display-font;
    font-weight: 700;
    font-size: 2.3em;
    padding-bottom: 0.3em;
}

h2 {
  font-family: $display-font;
  font-weight: 400;
  font-size: 2.25em; /* 36px / 16px = 2.25em */
  padding: 2.25rem 0 1rem;
}

h3 {
  font-family: $display-font;
  font-weight: 500;
  font-size: 1.2em;
  padding-bottom: 2em;
}

h4 {

}

h5 {
  font-family: $display-font;
  font-weight: 300;
  font-size: 1.4em;
}

a {
  text-decoration: none;
  color: $neon-pink;
}


a:hover { //TODO change to mixin, add to interaction layer (aggregate interactions in section too?)
  text-shadow: 2px 2px 5px $neon-pink;
}

.btn {
  width: 155px;
  height: 60px;
  border: 2px solid $neon-pink;
  color: $neon-pink;
  font-size: 0.8em; //14px

  display: flex;
  align-items: center;
  justify-content: center;
}


/* ========================================
Specific Element Styles
========================================
*/

/* --------------  Header ----------------- */

    //header container
    .header {
      height: 100vh;

    }
    .nav-bar {
      margin-top: 42px;   //TODO Express heights in PX or EM?
      margin-bottom: 24px;
    }

    //Logo Placeholder
    // do not full-scale; instead, change size for small screens only.
    .logo {
      width: 120px; //size on mobile
      height: 40px;
      background-color: $neon-pink;
      float: left;

      @media screen and (min-width: 40em) {
        width: 240px; //height on tablet, desktop
        height: 80px;
      }
    }

    .menu {
      float: right;
      ul {
        list-style-type: none;
      }

      /*
      @media screen and (min-width:40em) {
        width: 25%;
      }*/

    }

    .display-text {
      margin-top: 15vh;
    }

/* --------------  News & Media  ----------------- */

      //General Container
      .news {
        margin-bottom: 60px;
      }

      //3x cards
      .news-card { //mobile setting
        background-color: $bkgd-medium;
        padding: 0;
        padding-bottom: 40px;
        margin-bottom: 60px;
        @include shadow;
//TODO Set a uniform px height; or reflow with content? good practice?


      }

      //images
      .img-card {
        @include aspect-ratio(4, 3);

        img {
          max-width: 100%;
          display:block;
          height: auto;
        }
      }

      //text
      .text {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;

              p {
                margin-bottom: 1.2rem;

              @media screen and (min-width: 40em) and (max-width: 55em){
                font-size: 85%; //between 640-880px
              }
        }

        .limit {//Limit designed to overflow any text, keeping cards consistent size...
          height: 120px;
        }

        //TODO card links -- fixing these links so that they respond to the text above?
        .foot-link{
          width: 50%;
          float: left;
        }
        .right {
          text-align: right;
        }
      }






/* ========================================
Media Queries
========================================
*/

// Using em's to distinguish breakpoints per https://zellwk.com/blog/media-query-units/
// Not a big deal, however used Foundation 6 as influence
// Breakpoints: 0 - 640px - 1024px - 1200;

//TODO how to structure media queries right? stack all changes into group, or as part of classes?

@media screen and (min-width: 40em) { /* 480px and above */
  body {
    font-size: 90%;
  }
}

@media screen and (min-width: 64em) { /* 880 px and above */
  body {
    font-size: 95%;
  }
}

@media screen and (min-width: 75em) { /* 1200px and above */
  body {
    font-size: 100%;
  }
}
