// Hybrid template
// utilize lemonade / normalizr
// sep-21-2016

/*
TODO --header
* padding-top
* h1-h6 styles
* position header text
* Add button style
* Add social media links



*/

//Downloaded normalize.css file
@import 'normalize';

//grid framework
@import 'grid';

//all variables: color, type, etc.
@import 'var';



/* ========================================
Global Styles
========================================
*/
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }


img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle; }

  body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $bkgd-dark;
    color: $fore-light;
    font-family: $body-font;
    font-size: 1em;
  }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

h1 {
    font-family: $display-font;
    font-weight: 700;
    font-size: 2.6em;

}

h2 {
  font-family: $display-font;
  font-weight: 400;
  font-size: 1.2em;
}

h3 {
  font-family: $display-font;
  font-weight: 500;
  font-size: 1.2em;
  padding: 2rem 0 0.5rem;
}

h4 {

}

h5 {
  font-family: $display-font;
  font-weight: 300;
  font-size: 1.4em;
}


/* ========================================
Specific Element Styles
========================================
*/

//header container
.header {
  height: 100vh;

}

//Logo Placeholder
.logo {
  background-color: $neon-pink;
  padding-bottom: 33%;
}

//menu formatting
.menu {
  padding-left: 1rem;
  ul {
    list-style-type: none;
    li a {
      text-decoration: none;
      color: $fore-light;
    }
  }
}


//News & Media
//General Container
.news {
  margin-bottom: 80px;
}

//3x cards
.news-card {
  background-color: $bkgd-medium;
  padding: 0;
  padding-bottom: 40px;
  @include shadow;

}

//images
.img-card {
  @include aspect-ratio(4, 3);

  img {
    max-width: 100%;
    display:block;
    height: auto;
  }
}

//text
.text {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;

  p {
    margin-bottom: 1.2rem;
  }

  .limit {//Limit designed to overflow any text, keeping cards consistent size...
    height: 120px;
  }
  .foot-link{
    width: 50%;
    float: left;
  }
  .right {
    text-align: right;
  }
}
