// Hybrid template
// utilize lemonade / normalizr
// sep-21-2016

//Downloaded normalize.css file
@import 'normalize';

//grid framework
@import 'grid';

//all variables: color, type, etc.
@import 'var';



/* ========================================
Global Styles
========================================
*/
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }




  body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: $bkgd-dark;
    color: $fore-light;
    font-family: $body-font;
    font-size: 100%;
  }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle; }

h1 {
    font-family: $display-font;
    font-weight: 700;
    font-size: 2em;

    //tablet, desktop size
    @media screen and (min-width: 40em) {
      font-size: 3.75em; //60px / 16px = 3.75em
    }
}

h2 {
  font-family: $display-font;
  font-weight: 400;
  font-size: 2.25em; /* 36px / 16px = 2.25em */
  padding: 2.25rem 0 1rem;
}

h3 {
  font-family: $display-font;
  font-weight: 500;
  font-size: 1.4em;
  padding-bottom: 2em;
}

h4 {
  font-family: $display-font;
  font-weight: 500;
  font-size: 1.25em;
  padding-bottom: 2em;

  //desktop, tablet size
  @media screen and (min-width: 40em) {
    font-size: 1.5em; //24px / 16px = 1.5em
  }
}

h5 {
  font-family: $display-font;
  font-weight: 300;
  font-size: 1.4em;
}

a {
  text-decoration: none;
  color: $neon-pink;
}


a:hover { //TODO change to mixin, add to interaction layer (aggregate interactions in section too?)
  text-shadow: 2px 2px 5px $neon-pink;
}

.btn {
  width: 155px;
  height: 60px;
  border: 2px solid $neon-pink;
  color: $neon-pink;
  font-size: 0.8em; //14px

  display: flex;
  align-items: center;
  justify-content: center;
}

.square-ratio {
  @include aspect-ratio(1,1);
}



/* ========================================
Specific Element Styles
========================================
*/

/* --------------  Header ----------------- */

    //header container
    #header {
      height: 100vh;

    }
    .nav-bar {
      margin-top: 42px;   //TODO Express heights in PX or EM?
      margin-bottom: 24px;
    }

    //Logo Placeholder
    // do not full-scale; instead, change size for small screens only.
    .logo {
      width: 120px; //size on mobile
      height: 40px;
      background-color: $neon-pink;
      float: left;

      @media screen and (min-width: 40em) {
        width: 240px; //height on tablet, desktop
        height: 80px;
      }
    }

    .menu {
                ul {
                  display: none;
                  list-style-type: none;
                }
                .menu-mobile {
                  float: right;
                }
                #hamburger {
                  cursor: help;
                  padding: 10px 35px 16px 0;

                  span, span:before, span:after {
                    cursor: pointer;
                    border-radius: 1px;
                    height: 5px;
                    width: 35px;
                    background: white;
                    position: absolute;
                    display: block;
                    content: '';
                  }
                  span:before {
                    top: -10px; //TODO how does this work? what is the before/after crap?
                  }
                  span:after {
                    bottom: -10px;
                  }
                }

                //For tablet, desktop, show menu.
                @media screen and (min-width:40em) {
                          width: 25%;
                          float: right;

                          ul {
                            display: block;
                            list-style-type: none;
                          }
                          .menu-mobile { display: none; }
                      }

    }

    .display-text {
      margin-top: 15vh;
    }

/* --------------  News & Media  ----------------- */

      #news {
        margin-bottom: 60px;
      }

      .news-card { //mobile setting
        background-color: $bkgd-medium;
        padding: 0;
        padding-bottom: 40px;
        margin-bottom: 60px;
        @include shadow;
//TODO Set a uniform px height; or reflow with content? good practice?


      }

      //images
      .img-ratio {
        @include aspect-ratio(4, 3);

        img {
          max-width: 100%;
          display:block;
          height: auto;
        }
      }

      //text
      .text {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;

              p {
                margin-bottom: 1.2rem;

              @media screen and (min-width: 40em) and (max-width: 55em){
                font-size: 85%; //between 640-880px
              }
        }

        .limit {//Limit designed to overflow any text, keeping cards consistent size...
          height: 120px;
        }

        //TODO card links -- fixing these links so that they respond to the text above?
        .foot-link{
          width: 50%;
          float: left;
        }
        .right {
          text-align: right;
        }
      }



/* --------------  Artist Line-up  ----------------- */

      #line-up { //TODO DRY the section wrappers ...
        margin-top: 40px;
        margin-bottom: 80px;
      }

      .aspect {
          @include aspect-ratio(4,3);
      }

      .h-m84 { background-color: pink; }
      .h-out { background-color: lime; }
      .h-kaz { background-color: cyan; }
      .h-lzh { background-color: aliceblue; }
      .h-cts { background-color: lavender; }
      .h-col { background-color: grey; }
      .h-dyn { background-color: purple; }
      .h-ats { background-color: red; }
      .h-btm { background-color: blue; }

      .h-mdr { background-color: green; }
      .h-mid { background-color: brown; }
      .h-gun { background-color: lightblue; }

      .h-f84 { background-color: white; }
      .h-cbr { background-color: black; }
      .h-fls { background-color: orange; }



/* --------------  Festival Info  ----------------- */

      #info {
        margin-top: 40px;
      }

      #location {
        margin-top: 60px;
      }

      #map {
        width: 100%;
        height: 300px;
        float: left;
        margin-bottom: 80px;

      }

      //TODO clean up baseline here ..
      #rules {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
      }

      .rules-style {
        margin-bottom: 25px;

        border: 4px solid $neon-cyan;
        color: $neon-cyan;
        font-size: 1.2em; //14px

        @include aspect-ratio(3,1); //TODO improve text centering ...

        display: flex;
        align-items: center;
        justify-content: center;
      }


/* --------------  Connect   ----------------- */

      #connect {
        margin-top: 40px;
        margin-bottom: 80px;
      }

      input { //TODO does input need browser support?
        width: 100%;
        margin-bottom: 20px;

        border: 0px;
        border-bottom: 1px solid $bkgd-medium;
        outline: none;
      }


/* --------------   Footer   -------------------- */

      footer {
        margin-top: 40px;
        margin-bottom: 80px;
      }

      .logo-foot {
          background-color: $neon-pink;
          @include aspect-ratio(3,1);
      }
